.Contenedor_General {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(143, 143, 143, 0.301);
  box-shadow: 0rem 0rem 3rem 1rem rgba(214, 214, 214, 0.5);
  width: 80%;
  color: white;
}

.Contenedor_Hora {
  margin: 0;
}

.Contenedor_Icon_Clima {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Icon_Clima {
  width: 8rem;
}

.Contenedor2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Contenedor_Contenido {
  display: flex;
  flex-direction: column;
  /* margin: 0.4rem; */
}

.Contenido {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* justify-content: space-between; */
  gap: 2rem;
  /* margin: 0; */
}

.Titulos {
  margin: 0.2rem;

  text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.SubTitlulo{
  margin: 0.3rem;
}

.Contenedor_Extendido {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  margin-top: -1rem;
  gap: 2rem;
  width: 100%;
  flex-wrap: nowrap;

  scrollbar-width:auto ; 
  scrollbar-color: black;
}

.Contenedor_Extendido::-webkit-scrollbar {
  width: auto;
  height: 0.5rem;
  margin: 1rem;
}

.Contenedor_Extendido::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1rem;

}
.extendido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hora_Extendido {
  display: flex;
  margin-top: -1rem;
}



@media screen and (max-width: 400px) {
  .Contenedor_Icon_Clima{
    display: flex;
    flex-direction: column;
  }
  .Contenido_Clima{
    margin-top: -3rem;
  }
  .Contenedor2{
    display: flex;
    flex-direction: column;
  }
  .Contenedor_Contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Titulos{
    font-size: 1.3rem;
  }
  .SubTitlulo{
    font-size: 1rem;
  }
  .Contenido2{
    font-size: 1rem;
  }
  .Contenedor_Extendido{
    gap: 0;
  }
  .titulo_Extendido{
  font-size: 1.5rem;
  }
  .icon_Extendido{
    margin-bottom: -2rem;
  }
  .text_Extendido{
    margin-bottom: 0;
  }



}