@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Titillium+Web:wght@400;600&display=swap');

.Contenedor_General {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Fondo */
    background-image: url("../../Assets/LandingPage/Fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* TITULO */
.Titulo {
    font-size: 5rem;
    font-family: "Titillium Web";
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(255, 234, 0, 0.5);
}

.Subtitulo{
    font-size: 2rem;
    font-family: "Titillium Web";
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(255, 234, 0, 0.5);

}

/* BOTON */
.Contenedor_Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center
}

.Btn {
    width: 9rem;
    font-size: 3rem;
    background-color: transparent;
    border: .2rem white solid;
    color: white;
    transition: width 0.5s, font-size 0.5s, border-color 0.5s, color 0.5s;
}

.Btn:hover {
    width: 12rem;
    font-size: 3rem;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(255, 234, 0, 0.5);
}


.Link{
    text-decoration: none;
}




@media screen and (max-width: 400px) {
    .Btn {
      width: 7rem;
      font-size: 2.4rem;
    }
    .Titulo{
        font-size: 3.5rem;
    }
    .Subtitulo{
        font-size: 1.6rem;
    }
  }