@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Titillium+Web:wght@400;600&display=swap');

.Contenedor_General {
    display: flex;
    flex-direction: column;
    /* Fondo */
    background-image: url("../../Assets/LandingPage/Fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; 
}
