/* Estilos generales */
.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(143, 143, 143, 0.301);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Contenedor_Btn {
  display: flex;
  gap: 2rem;
}

.Link {
  text-decoration: none;
  color: #E8CE51;
}

.Link:hover {
  color: #0271D0;
}


.Logo {
  height: 40px;
}

/* Estilos del buscador */
.Contenedor_Buscador {
  display: flex;
  align-items: center;
}

.Buscador {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.InputBuscador {
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-bottom-left-radius:0.4rem;
  border-top-left-radius:0.4rem;
  width: 250px;
}

.Btn_Buscar {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #E8CE51;
  color: black;
  border: none;
  border-bottom-right-radius:0.4rem;
  border-top-right-radius:0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Btn_Buscar:hover {
  color: white;
  background-color: black;
}


@media screen and (max-width: 400px) {
  .Navbar {
    height: fit-content;
  }
  
  .Logo {
    height: 25px;
  }
  .InputBuscador {
    font-size: 12px;
    padding: 2.5px 5px;
    border: none;
    border-bottom-left-radius:0.4rem;
    border-top-left-radius:0.4rem;
    width: 100px;
  }
  .Btn_Buscar {
    font-size: 12px;
    padding: 2.5px 5px;
    background-color: #E8CE51;
    color: black;
    border: none;
    border-bottom-right-radius:0.4rem;
    border-top-right-radius:0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .Contenedor_Btn {
    font-size: 0.8rem;
    margin: 0;
  }
}